@font-face {
    font-family: 'Samim';
    src: url('../assests/fonts/samim/Samim.eot');
    src: url('../assests/fonts/samim/Samim.eot?#iefix') format('embedded-opentype'),
         url('../assests/fonts/samim/Samim.woff2') format('woff2'),
         url('../assests/fonts/samim/Samim.woff') format('woff'),
         url('../assests/fonts/samim/Samim.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Samim';
    src: url('../assests/fonts/samim/Samim-Bold.eot');
    src: url('../assests/fonts/samim/Samim-Bold.eot?#iefix') format('embedded-opentype'),
         url('../assests/fonts/samim/Samim-Bold.woff2') format('woff2'),
         url('../assests/fonts/samim/Samim-Bold.woff') format('woff'),
         url('../assests/fonts/samim/Samim-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Samim';
    src: url('../assests/fonts/samim/Samim-Medium.eot');
    src: url('../assests/fonts/samim/Samim-Medium.eot?#iefix') format('embedded-opentype'),
         url('../assests/fonts/samim/Samim-Medium.woff2') format('woff2'),
         url('../assests/fonts/samim/Samim-Medium.woff') format('woff'),
         url('../assests/fonts/samim/Samim-Medium.ttf') format('truetype');
    font-weight: 500;
}

/*!
 * Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
 @import 'awesome/variables';

 @font-face {
   font-family: 'Font Awesome 5 Free';
   font-style: normal;
   font-weight: 900;
   font-display: $fa-font-display;
   src: url('#{$fa-font-path}/fa-solid-900.eot');
   src: url('#{$fa-font-path}/fa-solid-900.eot?#iefix') format('embedded-opentype'),
   url('#{$fa-font-path}/fa-solid-900.woff2') format('woff2'),
   url('#{$fa-font-path}/fa-solid-900.woff') format('woff'),
   url('#{$fa-font-path}/fa-solid-900.ttf') format('truetype'),
   url('#{$fa-font-path}/fa-solid-900.svg#fontawesome') format('svg');
 }
 
 .fa,
 .fas {
   font-family: 'Font Awesome 5 Free';
   font-weight: 900;
 }
 
 
