$main-font-family:'Samim', Arial, Helvetica, sans-serif;

$white-color: #ffffff;
$a-color: #c3c3c3;
$a-hover: #000000;
$border-color: #f6f6f6;
$border-color-2: #dddddd;
$black-color: #000000;
$slider-bg:#f6f6f6;
$dark-color: #666;
$darker-color: #333;
$glassy-color: rgba(0, 0, 0, 0.4);
$light-glassy-color: rgba(0, 0, 0, 0.1);

