#slider {
    text-align:center;
    position:relative;
    ul{
        display:flex;
        justify-content: space-around;
    }
    .slider__prodact-item {
        p {
            color: $a-color;
            font-weight: bold;
            font-size: 14px;
            margin: 10px;
        }
        .star {
            color: $a-color;
            font-size: 11px;
            i {
                margin-left: 5px;
            }
        }
    }
    .next, .prev {
        position:absolute;
        top:50%;
        transform: translateY(-50%);
        box-shadow: 0px 0px 1px 0px #d3d3d3;
        padding: 20px;
        font-size: 12px;
        background: $white-color;
    }
    .next {
        right:20px;
        a{
            i{
                color: $a-color;
            }
        }
    }
    .prev {
        left:20px;
        a{
            i{
                color: $a-color;
            }
        }
    }
    &:after {
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:245px;
        background:$slider-bg;
        z-index:-2;
    }
}

#image-collection {
    margin: 100px 0;
    display: flex;
    color: $white-color;
    .image {
        position: relative;
        img {
            width: 100%;
            height: auto;
            transition: all 0.4s ease-in-out;
        }
        h3 {
            transition: all 0.4s ease-in-out;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 500;
            font-size: 24px;
            color: $white-color;
            z-index: 2;
        }
        ul {
            transition: all 0.4s ease-in-out;
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 400;
            font-size: 14px;
            color: $a-color;
            z-index: 2;
            height: 0px;
            overflow: hidden;
            li {
                margin: 15px;
            }
        }
        a {
            transition: all 0.4s ease-in-out;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white-color;
            font-weight: 300;
            border: 2px solid $white-color;
            padding: 5px 20px;
            z-index: 2;
            &:hover {
                background: $white-color;
                color: $black-color;
            }
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            background: $glassy-color;
            height: 100%;
            width: 100%;
            z-index: 1;
        }
        &:hover {
            h3 {
                top: 23%;
            }
            ul {
                height: 200px;
                top: 50%;
            }
            a {
                top: 80%;
            }
        }
    }
}


#featured {
    margin: 100px 0;
    display: flex;
    justify-content: center;
    .products {
        margin-top: 50px;
        display: flex;
        flex-basis: 33%;
        flex-wrap: wrap;
        .product {
            display: flex;
            flex-basis: 33%;
            margin-bottom: 23px;
            .product__image {
                margin-left: 20px;
                width: 40%;
                img {
                    width: 100%;
                }
            }
            .product__content {
                flex-basis: 60%;
                h5 {
                    letter-spacing: 1.5;
                    font-weight: 900;
                }
                p {
                    margin: 15px 0;
                    font-size: 13px
                }
                .star {
                    color: $a-color;
                    font-size: 11px;
                    i {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

#new-arrivals {
    margin: 100px 0;
    .items {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        .image {
            position: relative;
            width: 25%;
            height: 25%;
            img {
                width: 100%;
                height: 100%;
            }
            .content {
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $white-color;
                display: none;
                transition: all 0.4s ease-in;
                transition-delay: 1s;
                font-weight: 500;
                font-size: 18px;
                p {
                    transition-delay: 2s;
                }
            }
            &:hover {
                .content {
                    display: block;
                    top: 50%;
                }
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $glassy-color;
                }
            }
        }
    }
}

#about-us {
    margin: 90px 0;
    .top-row {
        margin-top: 50px;
        display: flex;
        gap: 35px;
        text-align: center;
        .image {
            background-image: url('../assests/Images/about_us_background.jpg');
            width: 90%;
            height: 300px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center 60%;
            position: relative;
            h4 {
                position: absolute;
                top: 10%;
                right: 10%;
                content: "";
                width: 200px;
                height: auto;
                z-index: 1;
                color: $white-color;
                letter-spacing: 1.4;
                font-weight: 500;
                font-size: 20px;
            }
        }
        .newsletters {
            border: 2px solid $border-color-2;
            padding: 30px;
            h3 {
                letter-spacing: 1.4;
                font-weight: 600;
                font-size: 24px;
                margin-top: 20px;
            }
            p {
                margin: 30px;
                color: $a-color;
            }
            form {
                overflow: hidden;
                border: 2px solid $border-color-2;
                input {
                    border: none;
                    padding: 15px 20px;
                    float: right;
                    &:focus-visible {
                        outline: none;
                    }
                }
                button {
                    height: 45px;
                    width: 50px;
                    float: left;
                    border: none;
                    background: #ffffff;
                    color: #bbbbbb;
                    font-size: 17px;
                }
            }
        }
    }
    .middle-row {
        margin-top: 35px;
        margin-bottom: 80px;
        display: flex;
        gap: 35px;
        .image {
            width: 33%;
            cursor: pointer;
            img {
                width: 100%;
            }
        }
    }
    .bottom-row {
        display: flex;
        justify-content: space-between;
    }
}

#footer {
    .footer-top {
        text-align: center;
        background: $slider-bg;
        display: flex;
        justify-content: space-around;
        padding: 100px 0;
        .box {
            width: 40%;
            height: 100px;
            box-shadow: 0px 2px 3px 0px  $light-glassy-color;
            background: $white-color;
            position: relative;
            overflow: hidden;
            p {
                position: relative;
                transition: all 0.3s ease-in;
                &.first {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-weight: 400;
                    font-size: 20px;
                }
                &.second {
                    color: $a-color;
                    position: absolute;
                    top: -120%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &:hover {
                p {
                    &.first {
                        top: 120%
                    }
                    &.second {
                        top: 50%
                    }
                }
            }
            
        }
    }
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        .content {
            display: flex;
            justify-content: space-around;
            gap: 30px;
            margin: 60px 80px;
            .content__item {
                margin-left: 30px;
                h3 {
                    margin-bottom: 40px;
                    letter-spacing: 2;
                    font-size: 28px;
                }
                ul {
                    li {
                        color: $dark-color;
                        margin-top: 20px;
                        &:hover {
                            cursor: pointer;
                            color: $darker-color;
                        }
                    }
                }
                form {
                    margin-bottom: 40px;
                    position: relative;
                    input {
                        border: none;
                        font-size: 14px;
                        &:focus-visible {
                            outline: none;
                        }
                    }
                    button {
                        float: left;
                        margin: 5px 60px;
                        color: #838383;
                        background: #ffffff;
                        border: none;
                    }
                    &:after {
                        position: absolute;
                        content: "";
                        top: 35px;
                        right: 0;
                        height: 2px;
                        width: 85%;
                        background: $black-color;
                    }
                }
                .medias {
                    a {
                        display: inline-block;
                        color: $a-color;
                        padding: 5px;
                        transition: all 0.3s ease-in;
                        margin: 15px 0  15px 20px ;
                        // when hover element                        
                    }                    
                }
                .copyright {
                    color: $a-color;
                    margin-top: 40px;
                    span {
                        color: $darker-color;
                    }
                }
            }
        }
        .image {
            height: 450px;
            img {
                height: 100%;
            }
        }
    }
}